<script type="text/javascript">
  let teamData = <%- JSON.stringify(locals.teamData) %>
</script>

<div class="card full-width">
  <h1 class="title">Estimated Time</h1>
  <canvas id="data-chart"></canvas>
</div>
