<%
  let options = ['Issues', 'Employees', 'Data', 'Sprint'];
%>

<div class="left">
  <ul id="navbar">
    <% for (let option of options) { %>
      <a href="/<%= option.toLowerCase() %>"><li class="<%= option.toLowerCase() === locals.active.toLowerCase() ? 'active' : '' %>"><%= option %></li></a>
    <% } %>
  </ul>
</div>
<div class="right">
  <button id="logout-btn">Logout</button>
</div>
<div class="clear"></div>
