<!DOCTYPE html>
<html>
<head>
  <%- include('./includes/head'); %>
</head>
<body>
  <div class="wrapper">
    <div id="modal-overlay"></div>
    <div id="issue-create-modal" class="card modal middle">
      <form action="/issues/create" method="POST">
        <h1 class="title">Create Issue</h1>
        <table>
          <tr>
            <td><label for="create-project">Project:</label></td>
            <td><input id="create-project" type="text" name="project"></td>
          </tr>
          <tr>
            <td><label for="create-title">Title:</label></td>
            <td class="full-width"><input id="create-title" class="full-width" type="text" name="title"></td>
          </tr>
          <tr>
            <td class="vert-top"><label for="create-description">Description:</label></td>
            <td class="full-width"><textarea id="create-description" class="full-width" rows="6"></textarea></td>
          </tr>
          <tr>
            <td><label for="create-estimate">Estimate:</label></td>
            <td><input id="create-estimate" type="text" name="estimate" placeholder="3w 2d 4h 30m"></td>
          </tr>
          <tr>
            <td></td>
            <td class="text-right"><button id="create-button"><i class="material-icons">done</i></button></td>
          </tr>
        </table>
      </form>

      <!-- modal for creating issues -->
    </div>
    <div class="header">
      <%- include('./includes/navbar', { active: 'issues' }); %>
    </div>
    <div class="content">
      <div id="issues-list">
        <!-- show list of issues here -->
      </div>
      <button id="create-issue">
        <%- include('./includes/icon', { icon: 'add_circle' }) %>
      </button>
    </div>
  </div>
</body>
</html>
