<!DOCTYPE html>
<html>
<head>
  <%- include('./includes/head'); %>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <%- include('./includes/navbar', { active: 'issues' }); %>
    </div>
    <div class="content">
      <div id="issues-list">
        <!-- show list of issues here -->
      </div>
    </div>
  </div>
</body>
</html>
