<!DOCTYPE html>
<html>
<head>
  <%- include('./includes/head'); %>
</head>
<body>
  <div class="wrapper">
    <div id="modal-overlay"></div>
    <div id="issue-create-modal" class="card modal middle">
      <!-- modal for creating issues -->
    </div>
    <div class="header">
      <%- include('./includes/navbar', { active: 'issues' }); %>
    </div>
    <div class="content">
      <div id="issues-list">
        <!-- show list of issues here -->
      </div>
      <button id="create-issue">
        <%- include('./includes/icon', { icon: 'add_circle' }) %>
      </button>
    </div>
  </div>
</body>
</html>
