<!DOCTYPE html>
<html>
<head>
  <%- include('./includes/head'); %>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <%- include('./includes/navbar', { active: 'sprint' }); %>
    </div>
    <div class="content">
      
    </div>
  </div>
</body>
</html>
