/* COLORS */
/*
  primary: #80d8ff;
  light: #b5ffff;
  dark: #49a7cc;

  grey-bg: #F5F5F5;
  dark-grey-bg: #E1E1E1;
*/


* {
  font-family: nowayregular, helvetica, arial, sans-serif;
  box-sizing: border-box;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 2vh;
  background: #E1E1E1;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}

table {
  table-layout: fixed;
}

.material-icons {
  font-size: 3vh !important;
}


/* GENERAL */
.wrapper {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 10vh;
}

h1 {
  font-size: 2.5vh !important;
}

h2 {
  font-size: 2.3vh !important;
}

.jscolor {
  width: 12vh;
  text-align: center;
}

.employee {
  cursor: pointer;
}


/* FORMS */
button {
  background: #80D8FF; 
  font-size: 2vh;
  font-weight: bold;
  border: none;
  border-radius: 0.3vh;
  padding: 1vh 3.5vh;
  cursor: pointer;
  min-height: 5vh;
}

button:disabled {
  background-color: #E1E1E1;
  cursor: not-allowed;
}

input, textarea, select {
  border: 1px solid #E1E1E1;
  border-radius: 0.5vh; 
  padding: 1.5vh;
  font-size: 2vh;
}

table td {
  padding: 1vh;
}

.error input {
  border: 1px solid red;
  padding-right: 6vh;
}

.error .error-icon {
  display: inline-block;
}

.error-icon {
  color: rgba(255, 0, 0, 0.8);
  margin-left: calc(-6vh);
  padding: calc(1.5vh - 1px);
  position: absolute;
  display: none;
}

.error-icon:before {
  content: attr(data-before);
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: red;
  color: white;
  font-size: 1.7vh;
  padding: 0.5vh;
  line-height: 1.7vh;
  text-align: center;
  left: calc(100% + 1vh + 1px);
  border-radius: 2px;
}

.error-icon:after {
  content: '';
  position: absolute;
  display: none;
  width: 0; 
  height: 0; 
  border-top: 1vh solid transparent;
  border-bottom: 1vh solid transparent; 
  
  border-right: 1vh solid red;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 2px);

}

.error-icon:hover:before {
  display: block;
}

.error-icon:hover:after {
  display: block;
}

/* icon:hover:after {
  
}


/* TABLES */
.table-1\:4 {
  width: 100%;
}

.table-1\:4 tr td {
  width: 80%;
}

.table-1\:4 tr td:first-child {
  width: 20%;
}

.width-5 { width: 5vh; }
.width-10 { width: 10vh; }
.width-11 { width: 11vh; }
.width-12 { width: 12vh; }
.width-15 { width: 15vh; }
.width-20 { width: 20vh; }
.width-25 { width: 25vh; }
.width-30 { width: 30vh; }
.width-40 { width: 40vh; }
.width-50 { width: 50vh; }
.width-60 { width: 60vh; }
.width-70 { width: 70vh; }
.width-80 { width: 80vh; }
.width-90 { width: 90vh; }

td {
  text-overflow: ellipsis;

  white-space: nowrap;
}

#time-graph {
}

/* LOGIN */
#login-form-wrapper {
  width: 50vh;
}

.title {
  font-size: 2.5vh;
  font-weight: bold;
  margin-bottom: 2vh;
  padding: 0.3vh;
}

#login-form-wrapper.card button {
  margin-right: 1px;
}


/* PAGES */
.header {
  width: 100%;
  padding: 2vh 10vh;
  border-bottom: 1.5vh solid #49a7cc;
  background: white;
  position: fixed;
  top: 0;
  z-index: 1;
}

.content {
  width: 100%;
  padding: 7.5vh;
}


/* ISSUES PAGE */
#issues-list {
  width: 100%;
  margin: 0 auto 1vh auto;
}

#issues-list table {

}

#create-issue {

}


/* LISTS */
.list-wrapper {
  width: 100%;
  margin: 0 auto 1vh auto;
}

.list-item {
  background: white;
  padding: 2vh;
  border-top: 1vh solid #80d8ff;
  margin-bottom: 1vh;
}

.list-item.highlight {
  font-weight: bold;
  border-top: 1vh solid #49a7cc;
}

.list-title {
  display: inline-block;
  font-weight: bold;
  max-width: 65%;
  line-height: 3vh;
}

.colours {
  display: inline-block;
  float: right;
  width: 35%;
  text-align: justify;
  font-size: 0.1px;
}

.colours:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.colour {
  width: 3vh;
  height: 3vh;
  display: inline-block;
  border: 1px solid #E1E1E1;
  position: relative;
}


/* TOOLTIPS */
.has-tooltip {
  display: inline-block;
  position: unset;
  text-align: center;
}

.tooltipwrapper {
  position: absolute;
  visibility: hidden;
}

.tooltip {
  display: block;
  position: absolute;
  background-color: #555;
  text-align: center;
  padding: 1vh;
  border-radius: 2px;

  color: #fff;

  box-sizing: border-box;

  width: 10vh;

  bottom: 100%;
  transform: translate(-50%, -10%);

  font-size: 1.5vh;
}

.tooltip:after {
  content: '';
  position: absolute;
  top: 95%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid #555;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.has-tooltip:hover .tooltipwrapper {
  visibility: visible;
}


/* NAVBAR */
#navbar {
  line-height: 100%;
}

#navbar li {
  display: inline;
  padding: 2vh 2vh 0.5vh 2vh;
  line-height: 5vh; /* min-height of logout button */
  cursor: pointer;
}

#navbar li.active, #navbar li:hover {
  border-bottom: 0.5vh solid #80d8ff;
}


/* MODALS */
#modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 2;
}

.modal {
  display: none;
  width: 75%;
  z-index: 3;
  background: #F5F5F5;
  padding: 5vh;
}

.modal.middle {
  position: fixed;
}

.modal-show {
  display: block !important;
}


/* UTIL */
.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inline {
  display: inline-block;
}

.vert-top {
  vertical-align: top;
}

.vert-middle {
  vertical-align: middle;
}

.vert-bottom {
  vertical-align: bottom;
}

.lh-2 {
  line-height: 2vh !important;
}

.lh-3 {
  line-height: 3vh !important;
}

.full-width {
  width: 100%;
}

.card {
  padding: 4vh 5vh 5vh 5vh;
  border-top: 1.5vh solid #80d8ff;
  border-radius: 0.5vh;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);

  background: #F5F5F5;
  background-clip: padding-box;
}

.italic {
  font-style: italic;
}

.bg-orange {
  background-color: orange;
}

.bg-green {
  background-color: green;
}

.marg-bottom-5 { margin-bottom: 5vh; }
.marg-bottom-2 { margin-bottom: 2vh; }




/* FONTS */
@font-face {
  font-family: 'nowayregular';
  src: url('../fonts/noway-regular-webfont.eot');
  src: url('../fonts/noway-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/noway-regular-webfont.woff2') format('woff2'),
       url('../fonts/noway-regular-webfont.woff') format('woff'),
       url('../fonts/noway-regular-webfont.ttf') format('truetype'),
       url('../fonts/noway-regular-webfont.svg#nowayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
