/* COLORS */
/*
  primary: #80d8ff;
  light: #b5ffff;
  dark: #49a7cc;

  grey-bg: #F5F5F5;
  dark-grey-bg: #E1E1E1;
*/


* {
  font-family: nowayregular, helvetica, arial, sans-serif;
  box-sizing: border-box;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 2vh;
  background: #E1E1E1;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}

.material-icons {
  font-size: 3vh !important;
}


/* GENERAL */
.wrapper {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 10vh;
}

h1 {
  font-size: 2.5vh;
}

.jscolor {
  width: 11vh;
}


/* FORMS */
button {
  background: #80D8FF; 
  font-size: 2vh;
  font-weight: bold;
  border: none;
  border-radius: 0.3vh;
  padding: 1vh 3.5vh;
  cursor: pointer;
  min-height: 5vh;
}

input, textarea {
  border: 1px solid #E1E1E1;
  border-radius: 0.5vh; 
  padding: 1.5vh;
  font-size: 2vh;
}

form table td {
  padding: 1vh;
}


/* TABLES */
.table-1\:4 tr td {
  width: 80%;
}

.table-1\:4 tr td:first-child {
  width: 20%;
}


/* LOGIN */
#login-form {
  width: 50vh;
}

.title {
  font-size: 2.5vh;
  font-weight: bold;
  margin-bottom: 2vh;
  padding: 0.3vh;
}

#login-form.card button {
  margin-right: 1px;
}


/* PAGES */
.header {
  width: 100%;
  padding: 2vh 10vh;
  border-bottom: 1.5vh solid #49a7cc;
  background: white;
  position: fixed;
  top: 0;
  z-index: 1;
}

.content {
  width: 100%;
  padding: 7.5vh;
}


/* ISSUES PAGE */
#issues-list {
  background: white;
  width: 100%;
  height: 50px;
  margin: 0 auto 1vh auto;
}

#create-issue {

}


/* NAVBAR */
#navbar {
  line-height: 100%;
}

#navbar li {
  display: inline;
  padding: 2vh 2vh 0.5vh 2vh;
  line-height: 5vh; /* min-height of logout button */
  cursor: pointer;
}

#navbar li.active, #navbar li:hover {
  border-bottom: 0.5vh solid #80d8ff;
}


/* MODALS */
#modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 2;
}

.modal {
  display: none;
  position: fixed;
  width: 75%;
  z-index: 3;
  background: #F5F5F5;
  padding: 5vh;
}

.modal-show {
  display: block !important;
}


/* UTIL */
.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.text-right {
  text-align: right;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inline {
  display: inline-block;
}

.vert-top {
  vertical-align: top;
}

.vert-bottom {
  vertical-align: bottom;
}

.lh-2 {
  line-height: 2vh !important;
}

.lh-3 {
  line-height: 3vh !important;
}

.full-width {
  width: 100%;
}

.card {
  padding: 4vh 5vh 5vh 5vh;
  border-top: 1.5vh solid #80d8ff;
  border-radius: 0.5vh;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);

  background: #F5F5F5;
  background-clip: padding-box;
}


/* FONTS */
@font-face {
  font-family: 'nowayregular';
  src: url('../fonts/noway-regular-webfont.eot');
  src: url('../fonts/noway-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/noway-regular-webfont.woff2') format('woff2'),
       url('../fonts/noway-regular-webfont.woff') format('woff'),
       url('../fonts/noway-regular-webfont.ttf') format('truetype'),
       url('../fonts/noway-regular-webfont.svg#nowayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
